@font-face {
    font-family: myFirstFont;
    src: url(Poppins-Medium.ttf);
  }
.Images{
    width: 400px;
    height:400px;
   
    float: left;
    margin-top: 40px;
    background-image: url(../Untitled-1.png);
    border-radius: 30%;
    background-position: center;
    padding-left: 90px;
}
.text{
    float: left;
    padding-left: 70px;
    width: 60%;
    height: 80vh;
    padding-top: 05%;
}
.intro{
font-family: myFirstFont;
padding-top: 0%;
font-size: 30px;
top: 35%;
right: 9.5%;
background-color: rgba(240, 248, 255, 0);
}
span{
    color: rgb(0, 200, 255);
  
  }
.introback{
    font-family: myFirstFont;
    font-size: 4rem;
    -webkit-text-stroke: 2px rgb(0, 200, 255);
    color: #00000000;
    
    top: 20%;
    right: 30%;
}
.hire-button{
    height: 50px;
    width: 100px;
    position: static;
    font-family: myFirstFont;
    background: linear-gradient(120deg, rgb(90, 84, 201) 30%, rgb(0, 200, 255) 75%, rgba(0,212,255,1) 100%);
            color: #ffffff;
            border: 0px;
            font-size: 1rem;
            border-radius: 40px;
            z-index: 20;
}
